@use "variables";

header {
    background-color: variables.$color-9;
    border-bottom: 0.25rem solid variables.$color-1;
    margin-bottom: 1rem;
}

.header__img {
    width: 35%;
}

.header__nav {
    display: flex;
    flex-wrap: nowrap;
}

.header__form {
    .btn__header {
        font-family: variables.$police-1;
        font-weight: 700;
    }
}

.header__img--icon {
    width: 1.5rem;
}

@media screen and (max-width: 1400px) {
    .generalnavbar {
        display: block;
    }
    .burgernavbar, .flex__header {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .generalnavbar {
        display: block;
    }
    .burgernavbar, .flex__header {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .generalnavbar {
        display: none;
    }
    .burgernavbar {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .flex__header {
        display: flex;
        justify-content: space-between;
    }
    .p-4 {
        text-align: right;
    }
}