@use "variables";

.resume__img {
    width: 100%;
}

.resume--reverse {
    display: flex;
    p {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .resume--reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .resume__img {
        margin-bottom: 1rem;
    }
}