@use "variables";

/* Présentation de l'oeuvre */


.btn__row {
    font-family: variables.$police-2;
    font-weight: 700;
    background-color: variables.$color-7;
    color: variables.$color-1;
    margin-bottom: 1rem;

    &:hover {
        background-color: variables.$color-3;
        color: variables.$color-10;
    }
}

.btn__row--important {
    @extend .btn__row;
    background-color: variables.$color-4;
    color: variables.$color-10;
    box-shadow: 0px 1px 5px variables.$color-1;

    &:hover {
        background-color: variables.$color-2;
        color: variables.$color-9;
    }
}

/* Carrousel */

@media screen and (max-width: 576px) {
    .presentation__text {
        text-align: center;
    }
}