@use "variables";

.faitdivers__image {
    width: 100%;
}

.tournage__image {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
}

.developpement {
    margin : 1rem;
}

@media screen and (max-width: 768px) {
    .faitdivers__flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .developpement {
        text-align: center;
    }
}
