@use "../bootstrap-5.2.0-beta1/scss/bootstrap";
@use "variables";
@use "header";
@use "sectionrow";
@use "extraits";
@use "acteurs";
@use "resume";
@use "footer";

body {
    background-color: variables.$color-6;
}

h1 {
    font-family : variables.$police-1;
    font-weight: 900;
    color: variables.$color-3;
}

h2 {
    font-family : variables.$police-2;
    color : variables.$color-4;
}

h3 {
    font-family : variables.$police-2;
    color : variables.$color-5;
}

p {
    font-family : variables.$police-2;
}

.container {
    background-color : variables.$color-9;
    border-radius: 2rem;
    border: solid 0.25rem variables.$color-1;
    margin-bottom: 1rem;
}

.row {
padding: 2rem;
}
